


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";





SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."alergenos" (
    "id" integer NOT NULL,
    "nombre" character varying(100) NOT NULL,
    "icono" character varying(80),
    "color_bg" character varying(20),
    "color_texto" character varying(20),
    "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."alergenos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."alergenos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."alergenos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."alergenos_id_seq" OWNED BY "public"."alergenos"."id";



CREATE TABLE IF NOT EXISTS "public"."auditoria" (
    "id" integer NOT NULL,
    "usuario_id" character varying(50) NOT NULL,
    "usuario_nombre" character varying(100),
    "accion" character varying(50) NOT NULL,
    "entidad" character varying(50) NOT NULL,
    "entidad_id" integer,
    "detalles" "jsonb",
    "fecha" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "ip_address" character varying(45)
);


ALTER TABLE "public"."auditoria" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."auditoria_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."auditoria_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."auditoria_id_seq" OWNED BY "public"."auditoria"."id";



CREATE TABLE IF NOT EXISTS "public"."bajas" (
    "id" character varying(50) NOT NULL,
    "producto_id" character varying(50) NOT NULL,
    "usuario_id" character varying(50) NOT NULL,
    "tipo_baja" character varying(50) NOT NULL,
    "cantidad" integer NOT NULL,
    "motivo" "text",
    "fecha_baja" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."bajas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."categorias" (
    "id" integer NOT NULL,
    "nombre" character varying(100) NOT NULL,
    "descripcion" "text"
);


ALTER TABLE "public"."categorias" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."categorias_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."categorias_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."categorias_id_seq" OWNED BY "public"."categorias"."id";



CREATE TABLE IF NOT EXISTS "public"."detalles_pedido" (
    "id" integer NOT NULL,
    "pedido_id" integer NOT NULL,
    "producto_id" character varying(50) NOT NULL,
    "cantidad" numeric(14,3) NOT NULL,
    "cantidad_recibida" numeric(14,3) DEFAULT 0,
    "precio_unitario" numeric(10,2) NOT NULL,
    "unidad" character varying(20) DEFAULT 'ud'::character varying
);


ALTER TABLE "public"."detalles_pedido" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."detalles_pedido_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."detalles_pedido_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."detalles_pedido_id_seq" OWNED BY "public"."detalles_pedido"."id";



CREATE TABLE IF NOT EXISTS "public"."email_verification_tokens" (
    "id" character varying(64) NOT NULL,
    "usuario_id" character varying(50) NOT NULL,
    "token_hash" character varying(128) NOT NULL,
    "expires_at" timestamp without time zone NOT NULL,
    "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "consumed_at" timestamp without time zone
);


ALTER TABLE "public"."email_verification_tokens" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."escandallo_items" (
    "id" integer NOT NULL,
    "escandallo_id" integer NOT NULL,
    "producto_id" character varying(50) NOT NULL,
    "nombre" character varying(120) NOT NULL,
    "cantidad" numeric(10,3) NOT NULL,
    "precio" numeric(10,2) NOT NULL
);


ALTER TABLE "public"."escandallo_items" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."escandallo_items_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."escandallo_items_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."escandallo_items_id_seq" OWNED BY "public"."escandallo_items"."id";



CREATE TABLE IF NOT EXISTS "public"."escandallos" (
    "id" integer NOT NULL,
    "nombre" character varying(255) NOT NULL,
    "elaboracion" "text",
    "coste_total" numeric(10,2) NOT NULL,
    "pvp" numeric(10,2) NOT NULL,
    "ingredientes" "jsonb" NOT NULL,
    "fecha_creacion" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "autor" character varying(100),
    "coste" numeric(10,2) DEFAULT 0,
    "usuario_id" character varying(50),
    "fecha_actualizacion" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."escandallos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."escandallos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."escandallos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."escandallos_id_seq" OWNED BY "public"."escandallos"."id";



CREATE TABLE IF NOT EXISTS "public"."lotes_producto" (
    "id" integer NOT NULL,
    "producto_id" character varying NOT NULL,
    "pedido_id" integer,
    "detalle_id" integer,
    "fecha_caducidad" "date",
    "cantidad" numeric(14,3) NOT NULL,
    "created_at" timestamp without time zone DEFAULT "now"()
);


ALTER TABLE "public"."lotes_producto" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."lotes_producto_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."lotes_producto_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."lotes_producto_id_seq" OWNED BY "public"."lotes_producto"."id";



CREATE TABLE IF NOT EXISTS "public"."movimientos" (
    "id" integer NOT NULL,
    "producto_id" character varying(50) NOT NULL,
    "usuario_id" character varying(50),
    "tipo" character varying(20) NOT NULL,
    "cantidad" numeric(14,3) NOT NULL,
    "stock_anterior" numeric(14,3) NOT NULL,
    "stock_nuevo" numeric(14,3) NOT NULL,
    "motivo" character varying(255),
    "fecha" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "movimientos_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['ENTRADA'::character varying, 'SALIDA'::character varying, 'AJUSTE'::character varying])::"text"[])))
);


ALTER TABLE "public"."movimientos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."movimientos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."movimientos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."movimientos_id_seq" OWNED BY "public"."movimientos"."id";



CREATE TABLE IF NOT EXISTS "public"."password_reset_tokens" (
    "id" character varying(64) NOT NULL,
    "usuario_id" character varying(50) NOT NULL,
    "token_hash" character varying(128) NOT NULL,
    "expires_at" timestamp without time zone NOT NULL,
    "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "consumed_at" timestamp without time zone
);


ALTER TABLE "public"."password_reset_tokens" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pedido_detalles" (
    "id" integer NOT NULL,
    "pedido_id" integer,
    "producto_id" character varying(255),
    "cantidad" numeric(10,2) NOT NULL,
    "precio_unitario" numeric(10,2) NOT NULL,
    "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "cantidad_recibida" integer DEFAULT 0
);


ALTER TABLE "public"."pedido_detalles" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."pedido_detalles_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."pedido_detalles_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."pedido_detalles_id_seq" OWNED BY "public"."pedido_detalles"."id";



CREATE TABLE IF NOT EXISTS "public"."pedidos" (
    "id" integer NOT NULL,
    "proveedor_id" integer NOT NULL,
    "fecha_creacion" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "fecha_recepcion" timestamp without time zone,
    "estado" character varying(20) DEFAULT 'PENDIENTE'::character varying,
    "total" numeric(10,2) DEFAULT 0.00,
    "usuario_id" character varying(50) NOT NULL,
    CONSTRAINT "pedidos_estado_check" CHECK ((("estado")::"text" = ANY ((ARRAY['PENDIENTE'::character varying, 'RECIBIDO'::character varying, 'CANCELADO'::character varying, 'INCOMPLETO'::character varying])::"text"[])))
);


ALTER TABLE "public"."pedidos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."pedidos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."pedidos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."pedidos_id_seq" OWNED BY "public"."pedidos"."id";



CREATE TABLE IF NOT EXISTS "public"."producto_alergenos" (
    "producto_id" character varying(50) NOT NULL,
    "alergeno_id" integer NOT NULL
);


ALTER TABLE "public"."producto_alergenos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."productos" (
    "id" character varying(50) NOT NULL,
    "nombre" character varying(100) NOT NULL,
    "precio" numeric(10,2) NOT NULL,
    "preciounitario" character varying(20),
    "stock" numeric(14,3) DEFAULT 0,
    "stockminimo" numeric(14,3) DEFAULT 0,
    "categoriaid" integer,
    "proveedorid" integer,
    "unidadmedida" character varying(20),
    "marca" character varying(50),
    "codigobarras" character varying(50),
    "fechacaducidad" timestamp without time zone,
    "descripcion" "text",
    "imagen" character varying(255),
    "activo" boolean DEFAULT true
);


ALTER TABLE "public"."productos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."proveedores" (
    "id" integer NOT NULL,
    "nombre" character varying(100) NOT NULL,
    "contacto" character varying(100),
    "telefono" character varying(20),
    "email" character varying(100),
    "direccion" "text"
);


ALTER TABLE "public"."proveedores" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."proveedores_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."proveedores_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."proveedores_id_seq" OWNED BY "public"."proveedores"."id";



CREATE TABLE IF NOT EXISTS "public"."refresh_tokens" (
    "id" character varying(64) NOT NULL,
    "usuario_id" character varying(50) NOT NULL,
    "token_hash" character varying(128) NOT NULL,
    "expires_at" timestamp without time zone NOT NULL,
    "created_at" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    "rotated_at" timestamp without time zone,
    "revoked_at" timestamp without time zone
);


ALTER TABLE "public"."refresh_tokens" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."rendimientos" (
    "id" integer NOT NULL,
    "fecha" "date" DEFAULT CURRENT_DATE NOT NULL,
    "ingrediente" "text" NOT NULL,
    "peso_bruto" numeric(10,3) NOT NULL,
    "peso_neto" numeric(10,3) NOT NULL,
    "desperdicio" numeric(10,3) NOT NULL,
    "rendimiento" numeric(5,2) NOT NULL,
    "merma" numeric(5,2) NOT NULL,
    "observaciones" "text",
    "usuario_id" integer,
    "created_at" timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE "public"."rendimientos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."rendimientos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."rendimientos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."rendimientos_id_seq" OWNED BY "public"."rendimientos"."id";



CREATE TABLE IF NOT EXISTS "public"."usuario_alergenos" (
    "usuario_id" character varying(50) NOT NULL,
    "alergeno_id" integer NOT NULL
);


ALTER TABLE "public"."usuario_alergenos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."usuarios" (
    "id" character varying(50) NOT NULL,
    "username" character varying(50) NOT NULL,
    "password" character varying(255) NOT NULL,
    "role" character varying(20) DEFAULT 'user'::character varying,
    "nombre" character varying(100),
    "apellidos" character varying(100),
    "email" character varying(100),
    "telefono" character varying(20),
    "email_verified_at" timestamp without time zone,
    "verification_sent_at" timestamp without time zone,
    "status" character varying(20) DEFAULT 'pending_approval'::character varying
);


ALTER TABLE "public"."usuarios" OWNER TO "postgres";


ALTER TABLE ONLY "public"."alergenos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."alergenos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."auditoria" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."auditoria_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."categorias" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."categorias_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."detalles_pedido" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."detalles_pedido_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."escandallo_items" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."escandallo_items_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."escandallos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."escandallos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."lotes_producto" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."lotes_producto_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."movimientos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."movimientos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."pedido_detalles" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."pedido_detalles_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."pedidos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."pedidos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."proveedores" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."proveedores_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."rendimientos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."rendimientos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."alergenos"
    ADD CONSTRAINT "alergenos_nombre_key" UNIQUE ("nombre");



ALTER TABLE ONLY "public"."alergenos"
    ADD CONSTRAINT "alergenos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."auditoria"
    ADD CONSTRAINT "auditoria_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bajas"
    ADD CONSTRAINT "bajas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categorias"
    ADD CONSTRAINT "categorias_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."detalles_pedido"
    ADD CONSTRAINT "detalles_pedido_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_verification_tokens"
    ADD CONSTRAINT "email_verification_tokens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."email_verification_tokens"
    ADD CONSTRAINT "email_verification_tokens_token_hash_key" UNIQUE ("token_hash");



ALTER TABLE ONLY "public"."escandallo_items"
    ADD CONSTRAINT "escandallo_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."escandallos"
    ADD CONSTRAINT "escandallos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."lotes_producto"
    ADD CONSTRAINT "lotes_producto_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "movimientos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."password_reset_tokens"
    ADD CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."password_reset_tokens"
    ADD CONSTRAINT "password_reset_tokens_token_hash_key" UNIQUE ("token_hash");



ALTER TABLE ONLY "public"."pedido_detalles"
    ADD CONSTRAINT "pedido_detalles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "pedidos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."producto_alergenos"
    ADD CONSTRAINT "producto_alergenos_pkey" PRIMARY KEY ("producto_id", "alergeno_id");



ALTER TABLE ONLY "public"."productos"
    ADD CONSTRAINT "productos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."proveedores"
    ADD CONSTRAINT "proveedores_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."refresh_tokens"
    ADD CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."refresh_tokens"
    ADD CONSTRAINT "refresh_tokens_token_hash_key" UNIQUE ("token_hash");



ALTER TABLE ONLY "public"."rendimientos"
    ADD CONSTRAINT "rendimientos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."usuario_alergenos"
    ADD CONSTRAINT "usuario_alergenos_pkey" PRIMARY KEY ("usuario_id", "alergeno_id");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_auditoria_accion" ON "public"."auditoria" USING "btree" ("accion");



CREATE INDEX "idx_auditoria_entidad" ON "public"."auditoria" USING "btree" ("entidad", "entidad_id");



CREATE INDEX "idx_auditoria_fecha" ON "public"."auditoria" USING "btree" ("fecha" DESC);



CREATE INDEX "idx_auditoria_usuario" ON "public"."auditoria" USING "btree" ("usuario_id");



CREATE INDEX "idx_bajas_fecha" ON "public"."bajas" USING "btree" ("fecha_baja");



CREATE INDEX "idx_bajas_producto" ON "public"."bajas" USING "btree" ("producto_id");



CREATE INDEX "idx_bajas_tipo" ON "public"."bajas" USING "btree" ("tipo_baja");



CREATE INDEX "idx_escandallos_actualizacion" ON "public"."escandallos" USING "btree" ("fecha_actualizacion" DESC);



CREATE INDEX "idx_refresh_tokens_expiry" ON "public"."refresh_tokens" USING "btree" ("expires_at");



CREATE INDEX "idx_refresh_tokens_usuario" ON "public"."refresh_tokens" USING "btree" ("usuario_id");



ALTER TABLE ONLY "public"."bajas"
    ADD CONSTRAINT "bajas_producto_id_fkey" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bajas"
    ADD CONSTRAINT "bajas_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."email_verification_tokens"
    ADD CONSTRAINT "email_verification_tokens_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."detalles_pedido"
    ADD CONSTRAINT "fk_det_pedido" FOREIGN KEY ("pedido_id") REFERENCES "public"."pedidos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."detalles_pedido"
    ADD CONSTRAINT "fk_det_producto" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."escandallo_items"
    ADD CONSTRAINT "fk_escandallo_items_escandallo" FOREIGN KEY ("escandallo_id") REFERENCES "public"."escandallos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."escandallo_items"
    ADD CONSTRAINT "fk_escandallo_items_producto" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id");



ALTER TABLE ONLY "public"."escandallos"
    ADD CONSTRAINT "fk_escandallos_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "fk_mov_producto" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."movimientos"
    ADD CONSTRAINT "fk_mov_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "fk_pedidos_proveedor" FOREIGN KEY ("proveedor_id") REFERENCES "public"."proveedores"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pedidos"
    ADD CONSTRAINT "fk_pedidos_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."producto_alergenos"
    ADD CONSTRAINT "fk_producto_alergenos_alergeno" FOREIGN KEY ("alergeno_id") REFERENCES "public"."alergenos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."producto_alergenos"
    ADD CONSTRAINT "fk_producto_alergenos_producto" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."productos"
    ADD CONSTRAINT "fk_productos_categorias" FOREIGN KEY ("categoriaid") REFERENCES "public"."categorias"("id");



ALTER TABLE ONLY "public"."productos"
    ADD CONSTRAINT "fk_productos_proveedores" FOREIGN KEY ("proveedorid") REFERENCES "public"."proveedores"("id");



ALTER TABLE ONLY "public"."refresh_tokens"
    ADD CONSTRAINT "fk_refresh_tokens_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."usuario_alergenos"
    ADD CONSTRAINT "fk_usuario_alergenos_alergeno" FOREIGN KEY ("alergeno_id") REFERENCES "public"."alergenos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."usuario_alergenos"
    ADD CONSTRAINT "fk_usuario_alergenos_usuario" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."lotes_producto"
    ADD CONSTRAINT "lotes_producto_detalle_id_fkey" FOREIGN KEY ("detalle_id") REFERENCES "public"."detalles_pedido"("id");



ALTER TABLE ONLY "public"."lotes_producto"
    ADD CONSTRAINT "lotes_producto_pedido_id_fkey" FOREIGN KEY ("pedido_id") REFERENCES "public"."pedidos"("id");



ALTER TABLE ONLY "public"."lotes_producto"
    ADD CONSTRAINT "lotes_producto_producto_id_fkey" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id");



ALTER TABLE ONLY "public"."password_reset_tokens"
    ADD CONSTRAINT "password_reset_tokens_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pedido_detalles"
    ADD CONSTRAINT "pedido_detalles_pedido_id_fkey" FOREIGN KEY ("pedido_id") REFERENCES "public"."pedidos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pedido_detalles"
    ADD CONSTRAINT "pedido_detalles_producto_id_fkey" FOREIGN KEY ("producto_id") REFERENCES "public"."productos"("id");



CREATE POLICY "Acceso total categorias" ON "public"."categorias" USING (true);



CREATE POLICY "Acceso total movimientos" ON "public"."movimientos" USING (true);



CREATE POLICY "Acceso total pedidos" ON "public"."pedidos" USING (true);



CREATE POLICY "Acceso total productos" ON "public"."productos" USING (true);



CREATE POLICY "Acceso total proveedores" ON "public"."proveedores" USING (true);



CREATE POLICY "Acceso total usuarios" ON "public"."usuarios" USING (true);



ALTER TABLE "public"."auditoria" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bajas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."categorias" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."detalles_pedido" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."movimientos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."pedidos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."productos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."proveedores" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."rendimientos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."usuarios" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";








































































































































































GRANT ALL ON TABLE "public"."alergenos" TO "anon";
GRANT ALL ON TABLE "public"."alergenos" TO "authenticated";
GRANT ALL ON TABLE "public"."alergenos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."alergenos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."alergenos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."alergenos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."auditoria" TO "anon";
GRANT ALL ON TABLE "public"."auditoria" TO "authenticated";
GRANT ALL ON TABLE "public"."auditoria" TO "service_role";



GRANT ALL ON SEQUENCE "public"."auditoria_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."auditoria_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."auditoria_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."bajas" TO "anon";
GRANT ALL ON TABLE "public"."bajas" TO "authenticated";
GRANT ALL ON TABLE "public"."bajas" TO "service_role";



GRANT ALL ON TABLE "public"."categorias" TO "anon";
GRANT ALL ON TABLE "public"."categorias" TO "authenticated";
GRANT ALL ON TABLE "public"."categorias" TO "service_role";



GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."categorias_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."detalles_pedido" TO "anon";
GRANT ALL ON TABLE "public"."detalles_pedido" TO "authenticated";
GRANT ALL ON TABLE "public"."detalles_pedido" TO "service_role";



GRANT ALL ON SEQUENCE "public"."detalles_pedido_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."detalles_pedido_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."detalles_pedido_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."email_verification_tokens" TO "anon";
GRANT ALL ON TABLE "public"."email_verification_tokens" TO "authenticated";
GRANT ALL ON TABLE "public"."email_verification_tokens" TO "service_role";



GRANT ALL ON TABLE "public"."escandallo_items" TO "anon";
GRANT ALL ON TABLE "public"."escandallo_items" TO "authenticated";
GRANT ALL ON TABLE "public"."escandallo_items" TO "service_role";



GRANT ALL ON SEQUENCE "public"."escandallo_items_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."escandallo_items_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."escandallo_items_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."escandallos" TO "anon";
GRANT ALL ON TABLE "public"."escandallos" TO "authenticated";
GRANT ALL ON TABLE "public"."escandallos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."escandallos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."escandallos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."escandallos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."lotes_producto" TO "anon";
GRANT ALL ON TABLE "public"."lotes_producto" TO "authenticated";
GRANT ALL ON TABLE "public"."lotes_producto" TO "service_role";



GRANT ALL ON SEQUENCE "public"."lotes_producto_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."lotes_producto_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."lotes_producto_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."movimientos" TO "anon";
GRANT ALL ON TABLE "public"."movimientos" TO "authenticated";
GRANT ALL ON TABLE "public"."movimientos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."movimientos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."movimientos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."movimientos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."password_reset_tokens" TO "anon";
GRANT ALL ON TABLE "public"."password_reset_tokens" TO "authenticated";
GRANT ALL ON TABLE "public"."password_reset_tokens" TO "service_role";



GRANT ALL ON TABLE "public"."pedido_detalles" TO "anon";
GRANT ALL ON TABLE "public"."pedido_detalles" TO "authenticated";
GRANT ALL ON TABLE "public"."pedido_detalles" TO "service_role";



GRANT ALL ON SEQUENCE "public"."pedido_detalles_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."pedido_detalles_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."pedido_detalles_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."pedidos" TO "anon";
GRANT ALL ON TABLE "public"."pedidos" TO "authenticated";
GRANT ALL ON TABLE "public"."pedidos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."pedidos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."pedidos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."pedidos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."producto_alergenos" TO "anon";
GRANT ALL ON TABLE "public"."producto_alergenos" TO "authenticated";
GRANT ALL ON TABLE "public"."producto_alergenos" TO "service_role";



GRANT ALL ON TABLE "public"."productos" TO "anon";
GRANT ALL ON TABLE "public"."productos" TO "authenticated";
GRANT ALL ON TABLE "public"."productos" TO "service_role";



GRANT ALL ON TABLE "public"."proveedores" TO "anon";
GRANT ALL ON TABLE "public"."proveedores" TO "authenticated";
GRANT ALL ON TABLE "public"."proveedores" TO "service_role";



GRANT ALL ON SEQUENCE "public"."proveedores_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."proveedores_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."proveedores_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."refresh_tokens" TO "anon";
GRANT ALL ON TABLE "public"."refresh_tokens" TO "authenticated";
GRANT ALL ON TABLE "public"."refresh_tokens" TO "service_role";



GRANT ALL ON TABLE "public"."rendimientos" TO "anon";
GRANT ALL ON TABLE "public"."rendimientos" TO "authenticated";
GRANT ALL ON TABLE "public"."rendimientos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."rendimientos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."rendimientos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."rendimientos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."usuario_alergenos" TO "anon";
GRANT ALL ON TABLE "public"."usuario_alergenos" TO "authenticated";
GRANT ALL ON TABLE "public"."usuario_alergenos" TO "service_role";



GRANT ALL ON TABLE "public"."usuarios" TO "anon";
GRANT ALL ON TABLE "public"."usuarios" TO "authenticated";
GRANT ALL ON TABLE "public"."usuarios" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































